<h1>fine.</h1>

<p class="lead">
  <b>fine.</b> is an exploration into Twitter analysis and visualization, created at <%= link_to "The Flatiron School", 'http://flatironschool.com' %>, inspired by Jonathan Harris and Sep Kamvar's <%= link_to 'We Feel Fine', 'http://wefeelfine.org' %>, and coded by <%= link_to "Deniz Unat", 'http://people.flatironschool.com/profiles/deniz-unat' %> and <%= link_to "Dan Visintainer", 'http://people.flatironschool.com/profiles/dan-visintainer' %>.
</p>

<p class="lead">
  fine. is powered by <%= link_to "D3", 'http://d3js.org' %>, with D3 libraries <%= link_to 'd3-cloud', 'https://www.jasondavies.com/wordcloud/#%2F%2Fwww.jasondavies.com%2Fwordcloud%2Fabout%2F' %> and <%= link_to "d3pie", 'http://d3pie.org' %>, <%= link_to "Chart.js", 'http://www.chartjs.org' %>, and Ruby gems <%= link_to "Gon", 'https://github.com/gazay/gon' %>, and <%= link_to "Twitter gem", 'https://github.com/sferik/twitter' %>.
</p>