<center>
  <h2>
    <% if @days_count == 0 %>
      Twitter's feelings from this past day
    <% else %>
      Twitter's feelings from the past <%= @days_count %> days
    <% end %>
  </h2>
</center>

<div id="table_container">
  <table id="list-table">
    <thead>
      <tr>
        <th>feeling</th>
        <th>count</th>
      </tr>
    </thead>
    <% @tweets.each do |t| %>
      <tr>
        <td><%= link_to t.first, "/word/#{t.first}" %></td>
        <td><%= t.last %></td>
      </tr>
    <% end -%>
  </table>
</div>

<center>
  <%= form_tag("/list/") do %> 
  Show me the results of the past <%= text_field_tag 'days_count', '', size: 3, maxlength: 3 %> days
  <%= submit_tag "Go" %>
  <% end %>
</center>
