<%= include_gon %>

<center>
  <h1>
    <% if @days_count == 0 %>
      twitter's feelings from <b>this past day</b>
    <% else %>
      twitter's feelings from <b>the past <%= @days_count %> days</b>
    <% end %>
  </h1>
</center>

<center>
  <%= form_tag("/pie/") do %> 
  show me the results of the past <%= text_field_tag 'days_count', '', size: 3, maxlength: 3 %> days
  <%= submit_tag "go", class: 'btn btn-default btn-sm' %>
  <% end %>
</center>

<center>
<div id="pieChart">
  
</div>
</center>

<script>
  drawPie(gon.tweets);
</script>