<%= include_gon %>
<%= @tweets %>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/d3.layout.cloud.js"></script>

<style type="text/css">    
#cloud{
width: 100%;
height:100%;
}
</style>

<center>
  <h2>
    <% if @days_count == 0 %>
      twitter's feelings from <b>this past day</b>
    <% else %>
      twitter's feelings from <b>the past <%= @days_count %> days</b>
    <% end %>
  </h2>
</center>

<center>
  <%= form_tag("/cloud/") do %> 
  show me the results of the past <%= text_field_tag 'days_count', '', size: 3, maxlength: 3 %> days
  <%= submit_tag "go", class: 'btn btn-default btn-sm' %>
  <% end %>
</center>

<div id="d3Cloud">
</div>

